<h2>SQUATTR API v0.1</h2>

<pre>
                           __,--'\
                    __,--'    :. \.
               _,--'              \`.
              /|\       `          \ `.
             / | \        `:        \  `/
            / '|  \        `:.       \
           / , |   \                  \
          /    |:   \              `:. \
         /| '  |     \ :.           _,-'`.
       \' |,  / \   ` \ `:.     _,-'_|    `/
          '._;   \ .   \   `_,-'_,-'
        \'    `- .\_   |\,-'_,-'
                    `--|_,`'
                            `/
</pre>